.project {
  background-color: #202020;
  min-height: 608px;
  display: block;
  justify-content: center;
  align-items: normal;
  padding: 100px;
  border: 3px solid white;
}
.project__title{
  width: 100%;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  letter-spacing: -4%;
  border-bottom: 1px solid #DADADA;
} 
.project__container {
  display: grid;
  grid-template-columns: repeat(2, 550px);
}
.project__subtitle{
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 400;
  letter-spacing: -4%;
}
.project__paragraph{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
