.technologies {
  background-color: #202020;
  padding: 100px 70px 90px 70px;
  max-height: 625px;
  display: flexbox;
  justify-content: center;
  align-items: normal;
  border: 3px solid white;
}
.technologies__title {
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  letter-spacing: -4%;
  border-bottom: 1px solid #DADADA;
} 
.technologies__container {
  margin-top: 90px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.technologies__subtitle {
  margin: 0;
  padding:0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -4%;
}
.technologies__paragraph {
  margin: 26px auto 90px auto;
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -4%;
}
.technologies__nav {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;

}
.technologies__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  letter-spacing: -4%;
}
