.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 62px;
}

.navigation-bar__list-item {
  margin-right: 16px;
}

.navigation-bar__list-item:last-child {
  margin-right: 0;
}

.navigation-bar__link {
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.navigation-bar__link:hover {
  opacity: 0.7;
}

.navigation-bar__link_active {
  font-weight: 500;
}

.header__navigation-bar-button {
  border: none;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  padding: 8px 20px;
  transition: opacity 0.5s;
}

.header__navigation-bar-button:hover {
  opacity: 0.8;
}

.header__navigation-bar-icon-button {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
.header__navigation-bar-icon {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: #313131;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
  z-index: 0;
}
.header__navigation-bar-img {
  opacity: 1 !important;
  z-index: 2;
}

@media (max-width: 769px) {
  .navigation-bar {
    display: none;
  }

  .header__navigation-bar-button {
    display: none;
  }
}
