.portpholio {
  max-width: 1280px;
  background-color: #202020;
}
.portpholio__container {
  width: calc(100% - 2*70px);
  margin: 0 auto;
  padding-bottom: 105px;
  display: block;
  justify-content: center;
  align-items: normal;
  box-sizing: border-box;
}
.portpholio__name {
  margin: 0;
  padding-bottom: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}
.portpholio__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portpholio__list-element {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portpholio__line {
  border-bottom: 1px solid #424242;
}
.portpholio__link {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 22px;
  padding-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}
.portpholio__img-link {
  width: 18px;
  height: 28px;
  padding: 0;
  margin: 12px 4px 10px 0;
}
@media screen and (max-width: 900px) {
  .portpholio__container {
    width: calc(100% - 2*50px);
    padding-top: 40px;
    padding-bottom: 105px;
  }
  .portpholio__name {
    padding-bottom: 32px;
  }
  .portpholio__link {
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 18px;

  }
  .portpholio__img-link {
    width: 15px;
  }
}
@media screen and (max-width: 667px) {
  .portpholio__container {
    width: calc(100% - 2*14px);
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .portpholio__name {
    font-size: 14px;
    padding-bottom: 21px;
  }
  .portpholio__link {
    font-size: 18px;
    padding: 9px 0;
  }
  .portpholio__img-link {
    width: 11px;
    height: 13px;
  }
}
