.search {
  padding: 70px 70px 6px 70px;
  position: relative;
  min-height: 242px;
  max-width: 1280px;
  width: 100%;
  background-color: #202020;
  margin: 0 auto;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.search__border-input {
  border-radius: 8px;
  background-color: #202020;
  border: 1.5px solid #aaaaaa;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 25px;
  margin-bottom: 24px;
}

.search__input {
  color: #8b8b8b;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 90%;
  background: none;
  border: none;
}
.search__input::placeholder {
  color: #8b8b8b;
}

.search__comit {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.search__button {
  width: 100px;
  height: 52px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  cursor: pointer;
  transition: opacity 0.5s;
  padding: 0;
  flex-shrink: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.search__button:hover {
  opacity: 0.8;
}
.search__line {
  width: 100%;
  border: 1px solid #424242;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .search {
    padding: 70px 30px 6px;
  }
}

@media (max-width: 420px) {
  .search {
    padding: 70px 14px 6px;
  }
  .search__input {
    height: 44px;
    padding-left: 0px;
  }
  .search__border-input {
    height: 56px;
    width: 100%;
    padding: 0 5px 0 10px;
    margin-bottom: 24px;
  }
  .search__button {
    width: 80px;
    height: 44px;
  }
  
}
