.header {
  background-color: #073042;
  width: calc(100% - 2*200px);
  margin: 10px auto auto auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid white;
}

@media screen and (max-width: 660px) {
  .header {
    width: calc(100% - 2*70px);
  }
}

@media screen and (max-width: 460px) {
  .header {
    width: 100%;
    margin: 28px auto auto auto;
    padding-left: 27;
    padding-bottom: 32px;
  }
}
.header__logo {
  max-width: 38px;
  max-height: 38px;
  object-fit: cover;  
}
/*
@media screen and (max-width: 950px) {
  .header__logo {
    margin-left: 28px;
  }
}
@media screen and (max-width: 550px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
  }
}*/

.header__booton {
  border-radius: 3px;
  border: none;
  background-color: #3DDC84;
  margin: 0;
  padding: 0;
  max-width: 76px;
  min-height: 32px;
  width: 100%;
}