.register {
  background-color: #202020;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.register__form {
  max-width: 396px;
  width: 100%;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:760px) {
  .register__form {
    max-width: 238px;
    margin-top: 5px;
  }
}



.register__title {
  max-width: 396px;
  width: 100%;
  color: #fbfbfb;
  margin: 60px auto 40px auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width:860px) {
  .register__title {
    margin: 27px auto 20px auto;
    max-width: 238px;
    font-size: 20px;
    line-height: 24px;
  }
}
.register__input {
  background-color: #202020;
  color: #CCCCCC;
  max-width: 396px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #424242;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  
}

@media screen and (max-width: 760px) {
  .register__input {
    max-width: 258px;
  }
}
.register__button {
  width: 396px;
  height: 45px;
  padding: 0;
  border: 0;
  background-color: #4285F4;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 216px;
}

.register__button:hover {
  opacity: 0.8;
}

@media screen and (max-width:760px) {
  .register__button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 40px auto;
  }
}

.register__link {
  max-width: 358px;
  max-height: 50px;
  width: 100%;
  color: #fbfbfb;
  margin: 15px auto 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  border: 0;
}
.register__link:hover {
  opacity: 0.5;
}
