.footer {
  max-width: 1280px;
  width: 100%;
  margin-top: auto;
  margin: 0 auto;
  padding: 0 70px 20px 70px;
  box-sizing: border-box;
  background: #202020;
}
.footer__text {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}
.footer__container {
  width: 100%;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer__text::after {
  content: "";
  display: block;
  padding-top: 20px;
  border-bottom: 1px solid #424242;
}

.footer__year {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.footer__link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.7;
}
.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  column-gap: 20px;
}
@media (max-width: 1200px) {
  .footer {
    padding: 0 30px 20px 30px;
    box-sizing: border-box;
    background: #202020;
  }
  .footer__container {
    width: 100%;
    padding-top: 30px;
  }
}

@media (max-width: 600px) {
  .footer__text {
    font-size: 12px;
  }
  .footer__container {
    padding:0;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, max-content);
    row-gap: 30px;
    justify-content: center;
  } .footer__year {
    grid-row: -2 / -1;

    font-size: 12px;
    color: #8b8b8b;
  }
  .footer__links {
    grid-auto-flow: row;
    row-gap: 12px;
  }
}