.student {
  background-color: #202020;
  padding: 110px 70px 110px 70px;
  max-height: 608px;
  display: block;
  justify-content: center;
  align-items: normal;
  border: 3px solid white;
}
.student__title{
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  letter-spacing: -4%;
  border-bottom: 1px solid #DADADA;
} 
.student__container {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid darkcyan;
}

.student__list {
  max-width: 600px;
  display: grid;
  justify-content: space-between;
}
.student__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.student__subtitle {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -4%;
}
.student__paragraph {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.student__gh-page {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color:  #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}
.student__foto {
  width: 270px;
  height: 327px;
  border-radius: 10px;

}
.student__portpholio {
  border: 1px solid darkgreen;
 }
.student__name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
}
.student__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.student__list-element {
display: flex;
justify-content: space-between;
}
.student__line {
border-bottom: 1px solid #424242;
}
.student__link {
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -4%;
}
.student__img-link {
width: 29px;
height: 60px;
}