.student {
  max-width: 1280px;
  background-color: #202020;
}
.student__container {
  width: calc(100% - 2*70px);
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 80px;
  display: block;
  justify-content: center;
  align-items: normal;
  box-sizing: border-box;
}
.student__title {
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
}
.student__content {
  margin-top: 67px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.student__list {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.student__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding: 0;
}
.student__subtitle {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
}
.student__paragraph {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.student__gh-page {
  padding: 0;
  margin: 100px 0 0 0;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}
.student__foto {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .student__container {
    width: calc(100% - 2*50px);
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .student__text {
    font-size: 12px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 14px;
  }
  .student__subtitle {
    font-size: 40px;
    line-height: 40px;
  }
  .student__paragraph {
    font-size: 12px;
    line-height: 18px;
  } 
  .student__gh-page {
    margin-top: 108px;
  }
  .student__foto {
    width: 255px;
    height: 307px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  .student__container {
    width: calc(100% - 2*14px);
    padding-top: 86px;
    padding-bottom: 10px;
  }
  .student__title {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
  }
  .student__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .student__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .student__subtitle {
    font-size: 30px;
    line-height: 36.31px;
  }
  .student__paragraph {
    margin-top: 55px;
    font-size: 11px;
    line-height: 16px;
    margin: 10px auto;
  }
  .student__foto {
    width: 290px;
    height: 352px;
    border-radius: 10px;
  }
  .student__gh-page {
    margin: 47px 0 0 0;
  }
}
